.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#intro {
  background-color: rgba(0, 0, 0, 0.58);
  color: white;
  margin-top: 20%
}

#intro .btn-primary {
  width: 30%;
  height: 40px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

#intro .btn-primary:nth-child(n+1) {
  margin-left: 20px;
}

#nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 0px;
  height: 3rem;
}

#nav button {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid black
}

#nav button:first-child {
  margin-left: auto
}

a {
  color: white;
}

iframe {
  height: 90vh;
  margin-top: 20px;
  border: 0px;

}