@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#intro {
  background-color: rgba(0, 0, 0, 0.58);
  color: white;
  margin-top: 20%
}

#intro .btn-primary {
  width: 30%;
  height: 40px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

#intro .btn-primary:nth-child(n+1) {
  margin-left: 20px;
}

#nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 0px;
  height: 3rem;
}

#nav button {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid black
}

#nav button:first-child {
  margin-left: auto
}

#nav a {
  color: white;
}

iframe {
  height: 88vh;
  margin-top: 20px;
  border: 0px;

}

.card-text a, .card-title a {
  color: black
}

#scroll {
  overflow-x: scroll;
  overflow-y: auto;
  white-space: nowrap;
  height: 90vh;
  @include for-phone-only() {
    height: 85vh;
  }
}

.card {
  @include for-desktop-up {
    width: 40%;
  }
  @include for-phone-only() {
    font-size: .75rem;
    width: 80%;
  }
  vertical-align: top;
  margin-right: 10px;
  height: 95%;
  display: inline-block;
  white-space: pre-wrap;
  .card-body {
    padding: .5rem;
    a {
      color: black
    }
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.row a {
  color: white
}